h1
{
color: rgb(255,233,220);
font-size: 38pt;
font-family: futura;
text-decoration: underline;
}
h2
{
color: rgb(243, 233, 208);
font-size: 24pt;
font-family: futura;
text-decoration: italic;
}
p
{
color: black;
font-size: 14pt;
font-family: futura;
}
body
{
background-color: rgb(229, 194, 152);
}
img
{
width: 300px;
border-radius: 15%;
opacity: 100%;
padding: 10px;
margin: 10px;
filter: none;
}
