  @media screen and (max-width: 480px) {
    div {
      background: indigo;
      }
    }

h1
{
color: white;
font-size: 28pt;
font-family: futura;
font-style: italic;
text-align: center;
}
h2
{
color: white;
font-size: 24pt;
font-family: futura;
text-decoration: underline;
text-align: center;
}


p
{
color: white;
font-size: 14pt;
font-family: typewriter revo;
text-align: center;
}


body
{
color: white;
font-family: typewriter revo;
background-color: rgb(24, 44, 77);
text-align: center;
}


img
{
width: 150px;
border-radius: 10%;
opacity: 100%;
padding: 10px;
margin: 10px;
filter: none;
text-align: center;
}
