h1
{
color: white;
font-size: 28pt;
font-family: futura;
text-decoration: underline;
}
h2
{
color: white;
font-size: 24pt;
font-family: futura;
text-decoration: underline;
}


p
{
color: white;
font-size: 14pt;
font-family: typewriter revo;
text-align: center;
}


body
{
background-color: rgb(24, 44, 77);
}


img
{
width: 150px;
border-radius: 15%;
opacity: 100%;
padding: 10px;
margin: 10px;
filter: none;
}
